{{template "base" . }}

{{define "content"}}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the Home Page for my application</h1>
      <p>hehe</p> 
      <p>what's app nigga!!</p>
      <p>This came from {{index .StringMap "test"}}</p>
    </div>
  </div>
</div>

{{ end }}
